# This file tells git to ignore certain files and folders, so they don't get accidentally added to our repo.

# Top level directories
/data/
/bin/
/.idea/

# All directories
docs/
out/
__pycache__/
.ipynb_checkpoints/

# File types
*.csv
*.tsv
*.png
.DS_Store